<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="~{fragments/fragments :: resources('Home')}"></div>
</head>
<body class="home-body">
    <div class="home-container text-center">
        <h1 class="home-text mb-4">Benvenuto su Alessio's Pizza!</h1>
        <a class="btn btn-danger" th:href="@{'/pizzas'}">Visualizza tutte le nostre pizze</a>
    </div>
</body>
</html>